body{
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item:first-child{
    color: red;
    font-weight: bold;
}

#content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.item{
    font-size: 25px;
}

.title{
    font-weight: bold;
}

.flag{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.error{
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
}